{% extends 'layout.njk' %}

{% block content %}
    <div class="card table-container">
        <a href="/members/create">New Member</a>
        <table>
            <thead>
                <tr>
                    <th>Instructors</th>
                    <th>Services</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                {%for instructor in instructors%}
                    <tr>
                        <td>
                            <span style="background-image: url({{instructor.avatar_url}})"></span>
                            {{instructor.name}}
                        </td>
                        <td>{{instructor.services}}</td>
                        <td><a href="/instructors/{{instructor.id}}">Details</a></td>
                    </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
{% endblock content %}