{%extends 'layout.njk'%}

{%block head%}
    <title>Portfolio</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{%endblock%}

{%block content%}

    <div id="wrapper">
        <h1>Aulas</h1>
    </div>

    <section class="cards">
        {%for item in items%}
            <div class="card" id="{{item.id}}">
                <div class="card-image-container {{'featured-wrapper' if item.featured}}">
                    <img src="https://img.youtube.com/vi/{{item.id}}/mqdefault.jpg" alt="Imagem de {{item.title}}">
                    {%if item.featured%}
                        <div class="featured">
                            Featured
                        </div>
                    {%endif%}
                </div>
                <div class="card-content">
                    <p>{{item.title}}</p>
                </div>
                <div class="card-info">
                    <p>{{item.length}}</p>
                    <p class="card-price">{{item.price}}</p>
                </div>
            </div>
        {%endfor%}
    </section>
    <script src="/scripts.js"></script>

{%endblock%}