<div class="item">
    <div>Avatar URL</div>
    <div>
        <input 
            type="url"
            name="avatar_url"
            placeholder="http://"
            value="{{instructor.avatar_url}}"
        >
    </div>
</div>

<div class="item">
    <div>Instructor</div>
    <div>
        <input 
            type="text"
            name="name" 
            placeholder="Enter your name!"
            value="{{instructor.name}}"
        >
    </div>
</div>

<div class="item">
    <div>Birth Date</div>
    <div>
        <input
            value="{{instructor.age}}"
        >
    </div>
</div>

<div class="item">
    <div>Gender</div>
    <div>
        <span>
            <input
                type="radio"
                name="gender"
                value="M"
                {% if instructor.gender == 'M' %}
                    checked
                {% endif %}
            > Male
        </span>
        <span>
            <input
                type="radio"
                name="gender"
                value="F"
                {% if instructor.gender == 'F' %}
                    checked
                {% endif %}
            > Female
        </span>
    </div>
</div>

<div class="item">
    <div>Services</div>
    <div>
        <input 
            type="text" 
            name="services"
            placeholder="Enter your services separated by comma!"
            value="{{instructor.services}}"
        >
    </div>
</div>

<button type="submit">LET'S GO!</button>